:root {
  --dark-grey: #4d4d4d;
--norkart-sort: #2e2d30;
--norkart-gronn: #51a026;
--norkart-bla: #87a8e0;
--norkart-orange: #f5ad4a;
--norkart-hvit: #f6f6f6;
--navbar-height: 58px;
--header-background-height: 65vh;
--footer-height: 60px;
}
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--norkart-hvit);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
  border: 1px solid red;
  grid-area: header;

}
.clickable{
  cursor: pointer;
}
.sidebar{
  border: 1px solid red;
  
}
h1,p{
  color:var(--norkart-sort);
}
.footer{
  border: 1px solid red;
  grid-area: footer;
}
footer > *{
  margin: 0px;
  padding: 0px;
}
.contentWrapper{
  width: 100vw;
  height: 100vh;
  background-color:#f6f6f6;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  grid-gap: .01em;
}
.App-link {
  color: #61dafb;
}
.buildinglist{
margin-left: 5px;
}
.addresslist ul{
  list-style: none;
}
.buildinglist ul{
  list-style: none;
}
.addresslist ul li p{
  margin:10px;
}
.hide{
  display:none;
}
.buildingProperties{
  display: grid;
  grid-template-columns: 200px auto;
  text-align: left;
}
.building{
  border:1px solid red;
}
#norkartlogo{
  width: 200px;
}
.infoHeader{
  align-content: center
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
