:root {
--dark-grey: #4d4d4d;
--norkart-sort: #2e2d30;
--norkart-gronn: #51a026;
--norkart-bla: #87a8e0;
--norkart-orange: #f5ad4a;
--norkart-hvit: #f6f6f6;
--navbar-height: 58px;
--header-background-height: 100%;
--footer-height: 100%;
--gutterSm: 0.4rem;
  --gutterMd: 0.4rem;
  --gutterLg: 0.7rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400:rgb(33, 150, 243);
  --colorPrimary600: rgb(33, 150, 243);
  --colorPrimary800: rgb(33, 150, 243);
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);

}

.textstyle{
  font-weight: bold;
  padding:1px;
}

select{
  padding:5px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.header{
  grid-area: header;
  text-align: center;
}

.clickable{
  cursor: pointer;
}
.sidebarLeft{
  grid-area: sidebarLeft;
  flex-direction: column;
    align-items: center;
    display: flex;
    min-width: 250px;
}
.sidebarRight{
  grid-area: sidebarRight;
}
h1,p{
  color:var(--norkart-sort);
}
.footer > *{
  margin: 0px;
  padding: 0px;
}
.footer{
  text-align: center;
  grid-area: footer;
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerLeft{
  grid-area: footerLeft;
}

.contentWrapper{
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color:#f6f6f6;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 
    "header header header"
    "sidebarLeft main sidebarRight"
    "footer footer footer";
}
.App-link {
  color: #61dafb;
}
.buildinglist{
margin-left: 5px;
display: flex;
    align-items: center;
    flex-direction: column;
}
.search{
  width: 100%;
  display: flex;
  justify-content: center;
}
.addresslist{
  text-align: center;
}
.addresslist ul{
  list-style: none;
}
.buildinglist ul{
  list-style: none;
}
.addresslist ul li p{
  margin:10px;
}
.hide{
  display:none;
}
.buildingProperties{
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
}
.adressInfo{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5em;

  justify-content: center;
  width: 100%;
}
.headerRow{
  grid-column-start: 1; 
  grid-column-end: 3;

}

.gridHeaderText{
  text-decoration: underline;
  padding-bottom: 0.3em;
  padding-top: 0.1em;
  font-size: 1.3em;
}
.appBold{
  font-weight: 600;
}
#norkartlogo{
  width: 200px;
}
.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}

.Input {
  position: relative;
  margin-bottom: 10px;
}

.Input-text {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.Input-text::placeholder {
  color: #B0BEC5;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0rem 7px 30px -7px var(--colorPrimary600);
}


main{
  padding:5px;
}